@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
}

ul {
    width: 100%;
}

.crossed {
    text-decoration: line-through;
    color: gray;
}


/*Modify exsisting Bootstrap classes*/

.crossed.list-group-item:hover {
    text-decoration: line-through;
}

.btn-danger {
    margin: 0px 0.2rem;
}

.alert {
    position: fixed;
    margin: 0 auto;
    left: 44%;
    top: 25px;
}